@inherits LayoutComponentBase
@inject IJSRuntime JS
@inject UserTimeZoneService UserTimeZone
@inject PageTitleService PageTitle
@implements IDisposable

<AuthorizeView>
    <Authorized>
        <CareSphere.Modules.Admin.Layout.AdminLayout>
            @Body
        </CareSphere.Modules.Admin.Layout.AdminLayout>
    </Authorized>
    <NotAuthorized>
        @Body
    </NotAuthorized>
</AuthorizeView>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    protected override void OnInitialized()
    {
        PageTitle.OnTitleChanged += StateHasChanged;
    }

    public void Dispose()
    {
        PageTitle.OnTitleChanged -= StateHasChanged;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !UserTimeZone.TimeZoneOffset.HasValue)
        {
            try
            {
                var offset = await JS.InvokeAsync<int>("getBrowserTimezoneOffset");
                UserTimeZone.TimeZoneOffset = offset;
                StateHasChanged();
            }
            catch
            {
                // Silence JS errors during early/non-interactive rendering
            }
        }
    }
}
